.form-inputs {
    text-decoration: none;
    color: chocolate;
    text-shadow: 0px 0px 4px chocolate;
    font-family: 'VT323', monospace;
    font-size: 50px;
    position: relative;
    text-align: center;
}

.form-actions {
    text-decoration: none;
    color: chocolate;
    text-shadow: 0px 0px 4px chocolate;
    font-family: 'VT323', monospace;
    font-size: 50px;
    position: relative;
    text-align: center;
}

.small {
  text-align: center;
}

.super {
  position: relative;
  height: 100vh;
}

.content {
  max-width: 600px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-control {
background: black;
color: chocolate;
border: none;
}

.form-control:focus {
background: black;
color: chocolate;
box-shadow: none;
}

.buyer_user_name {
  white-space: nowrap;
  display:flex;
}

.password {
  display:flex;
  white-space: nowrap;
  padding-top: 12px;
}

.string {
  box-shadow: none;
  padding-top: 12px;
}
