<div class="container home">
  <div class="nav">
    <ul>
      <li class="buyer text-center"><%= link_to "BUYER", root_path, class: 'inactive-a' %></li>
      <li class="seller"><%= link_to "SELLER", root_path, class: 'inactive-a' %></li>
    </ul>
  </div>
</div>


