<div class="content">
  <div class="nav">
    <ul>
      <li class="un"><%= link_to "BUYER", root_path, class: 'inactive-a' %></li>
      <li class="deux"><%= link_to "SELLER", root_path, class: 'inactive-a' %></li>
    </ul>
  </div>
</div>


