<h1>Animals#edit</h1>

<%= simple_form_for @animal do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add picture", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to 'Back', animal_path(@animal.id), class: "btn btn-primary" %>
