.dashboard{
  height: 100vh;
  .dashboard-row{
    height: 80%;
    padding: 10vh 0 0 0;
    margin: 0;
    div{
      height: 100%;
    }
    .nav{
      display: flex;
      align-items: flex-end;
      ul{
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        padding: 0;
        li{
          list-style: none;
          margin: 0;
          padding: 0;
          height: 20%;
          text-decoration: none;
          color: chocolate;
          text-shadow: 0px 0px 4px chocolate;
          font-family: 'VT323', monospace;
          font-size: 28px;
          position: relative;
          cursor: pointer;
          .un{
            font-family: 'VT323', monospace;
            font-size: 28px;
          }
          .sells{
            width: 69%;
            position: relative;
          }
          .history{
            width: 20px;
            position: relative;
          }
          .cinq{
            font-family: 'VT323', monospace;
            font-size: 28px;
          }
        }
        #mart{
          margin-top: 10%;
        }
        #marb{
          margin-bottom: 10%;
        }
        .inactive-d:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0px;
          left: 0%;
          border-radius: 0px;
          z-index: 0;
          background: chocolate;
          box-shadow: 0px 0px 4px chocolate;
          visibility: hidden;
          transform: scaleX(0);
          transition: 0.3s ease-in-out;
          transform-origin: left;
          transition-delay: 0s;
        }
        .inactive-d:hover:before{
          visibility: visible;
          transform: scaleX(1);
        }
        .active-d:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: -5px;
          left: 0%;
          border-radius: 0px;
          z-index: 0;
          background: chocolate;
          box-shadow: 0px 0px 4px chocolate;
          visibility: visible;
          transform: scaleX(1);
          transition: 0.3s ease-in-out;
          transform-origin: left;
          transition-delay: 0s;
        }
      }
    }
  }
}
